html {
font-family: "SF Optimized", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-rendering: optimizeLegibility;
-webkit-text-rendering: optimizeLegibility;
-moz-text-rendering: optimizeLegibility;
-ms-text-rendering: optimizeLegibility;
-o-text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
body { margin: 35px 0 35px 0; color: #24292e; background-color: #e9ebee; }
.post { display: block; max-width: 800px !important; background-color: #fff; color: #1d2129; box-sizing: border-box; margin: 0 auto 17px auto; border-radius: 8px; background-clip: border-box; border: 1px solid #dddfe2; color: #333333; border-color: #e5e6e9 #dfe0e4 #d0d1d5; padding: 16px; }
.post .portrait { float: left; margin-right: 12px; width: 40px; position: relative; }
.post .portrait:after { content: ''; border-radius: 50%; border: 1px solid rgba(0, 0, 0, .1); position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.post .portrait img { display: block; overflow: hidden; border-radius: 50%; width: 40px !important; height: 40px; }
.post .content .author { display: block; color: #365899; font-size: 15px; font-weight: bold; letter-spacing: -0.01em; line-height: 1.4; text-decoration: none; }
.post .content .date { display: block; font-size: 12px; letter-spacing: -0.01em; line-height: 16px; color: #90949c; }
.post .content h1 { font-weight: bold; font-size: 16px; line-height: 21px; margin: 15px 0 10px 0; }
.post .content h2 { font-weight: bold; font-size: 16px; line-height: 21px; margin: 15px 0 10px 0; }
.post .content h3 { font-weight: bold; font-size: 16px; line-height: 21px; margin: 15px 0 10px 0; }
.post .content { overflow: hidden; margin-right: 20px; font-size: 16px; line-height: 1.6; word-break: break-word; word-wrap: break-word; }
.post .content p { margin: 10px 0 16px 0; }
.post .content a, .post p a:visited, .post p a:link, .post p a:active { color: #0366d6; text-decoration: none; }
.post .content a:hover, .post p a:hover { text-decoration: underline; }
.post .content code { font: 12px "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace; font-size: 85%; background-color: #e9ebee; padding: 3px; border-radius: 3px; }
.post .content pre { font: 12px "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace; font-size: 85%; line-height: 1.45; background-color: #e9ebee; padding: 8px 12px 8px 12px; border-radius: 3px; overflow: auto; word-break: normal; word-wrap: normal; margin: 16px 0 16px 0; }
@media all and (max-width: 850px) {
.post { max-width: 850px !important; }
.post { border-radius: 0; border-left: 0; border-right: 0; }
}
@media all and (max-width: 600px) {
.post .portrait { display: none; } 
.post .logo { display: none; }
.post .content { margin-left: 0px; margin-right: 0px; }
}
@media (prefers-color-scheme: dark) {
body { margin: 35px 0 35px 0; color: #24292e; background-color: #18191a; }
.post { background-color: #242526; color: #b1b3b8; border: none; }
.post .content .author { color: #e5e6eb; }
.post .content h1 { color: #e5e6eb; }
.post .content h2 { color: #e5e6eb; }
.post .content h3 { color: #e5e6eb; }
.post .content a, .post p a:visited, .post p a:link, .post p a:active { color: #599af8; }
.post .content code { background-color: #18191a; }
.post .content pre { background-color: #18191a; }
}