
@import "/font.css";

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 85px 0px 85px 0px;
}

.content {
    max-width: 700px !important;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    display: block;
    margin-bottom: 30px;
}

.header .image {
    display: table-cell;
}

.header .image .portrait {
    border: 0;
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    vertical-align: middle;
}

.header .description {
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
}

.header .author {
    color: #00ab6b;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: normal;
    text-decoration: none; 
}

.header .date {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.44);
}

.item {
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.item h1 {
    font-family: "Merriweather Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: bold; 
    font-style: normal;
    font-size: 31px;
    line-height: 43px; 
    letter-spacing: -0.026em;
    margin: 14px 0px 12px -2.25px;
}

.item p {
    font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.84;
    letter-spacing: 0.01em;
    word-break: break-word;
    word-wrap: break-word;
    margin: 12px 0px 0px 0px;
}

.item p a, .item p a:visited, .item p a:link, .item p a:active { 
    color: inherit;
    text-decoration: none; 
    background-size: 2px 2px;
    background-position: 0 22px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
}

.item pre {
    margin: 16px 0 16px 0;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.0470588);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.item code { 
    font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.item code a, .item code a:visited, .item code a:link, .item code a:active { 
    color: inherit;
    text-decoration: none; 
    background-size: 2px 2px;
    background-position: 0 18px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
}

@media only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:2dppx), only screen and (-webkit-min-device-pixel-ratio:2) {
    .item p a, .item p a:visited, .item p a:link, .item p a:active { 
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 25%);
    }
    .item code a, .item code a:visited, .item code a:link, .item code a:active { 
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 25%);
    }
}

@media all and (max-width: 767px) {
    .content {
        margin-right: 20px;
        margin-left: 20px;
    }
    .header .image .portrait {
        width: 32px !important;
        height: 32px !important;
    }
    .header .description {
        display: table-cell;
        padding-left: 6px;
        vertical-align: middle;
    }
    .item h1 { 
        font-size: 24px;
        line-height: 1.3; 
        margin-left: -1.75px;
        letter-spacing: -0.022em;
        margin-bottom: 8px;
    }
    .item p {
        font-size: 16px;
        line-height: 1.7;
        letter-spacing: -0.004em;
        margin-top: 8px;
    }
    .item p a, .item p a:visited, .item p a:link, .item p a:active { 
        background-position: 0 19px;
    }
}
