
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0 0 65px 0;
    background-color: #fafafa;
}

.symbol {
    font-family: "Mono Social Icons Font";
    font-size:20px;
    text-rendering: optimizeLegibility;
}

a, a:visited, a:link, a:active {
    color: inherit;
    text-decoration: none; 
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a.active {
    color: #333333;
}

a.icon {
    content: attr(title);
    margin-left: 1px;
    margin-right: 1px;
    color: #8c8c8c; 
}

a.icon:link, a.icon:visited, a.icon:active { 
    text-decoration: none; 
}

a.icon:hover 
{ 
    color: #333333;
    text-decoration: none; 
}

.header {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .05);
    padding-top: 65px;
}

.header .layout {
    padding: 45px 0 32px 0;
}

.header .name {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    margin-left: -2px;
}

.header .bio {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #666666;
    line-height: 22px;
    margin-top: 4px;
    display: block;
}

.header .portrait {
    border: 0;
    border-radius: 50%;
    width: 100px !important;
    height: 100px !important;
    float: right;
    margin-left: 20px;
}

.header .toolbar {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.44);
    padding-top: 33px;
    padding-bottom: 23px;
    vertical-align: center;
    line-height: 25px;
}

.header .button {
    font-smoothing: antialiased;
    background-color: #ffffff;
    border: #d9d9d9 solid 1px;
    border-radius: 999em;
    color: #8f8f8f;
    font-size: 14px;
    margin: 0;
    padding: 9px 16px 9px 16px;
    letter-spacing: normal;
    cursor: pointer;
    outline: 0;
}

.header .button:hover {
    border-color: #8f8f8f;
    color: #666666;
}

.header .tabbar {
    border-top: 1px solid rgba(0, 0, 0, .05)!important;
    display: block;
    flex-direction: row;
    text-align: left;
    padding: 15px 0 17px 0;
    list-style: none;
    list-style-image: none;
    font-size: 16px;
}

.header .tab {
    display: table-cell;
    text-align: left;
    letter-spacing: 0;
    padding-right: 20px;
    white-space: nowrap;
}

.header .tab a {
    color: rgba(0, 0, 0, 0.44);
}

.header .tab a:hover {
    color: #666666;
}

.header .tab a.active {
    color: #1a1a1a;
}

.content {
    box-sizing: border-box;
    max-width: 640px !important;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    box-sizing: border-box;
    max-width: 640px !important;
    padding: 20px 20px 3px 20px;
    margin: 34px auto 20px auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    color: #333333;
}

.item {
    box-sizing: border-box;
    max-width: 640px !important;
    padding: 15px 20px 30px 20px;
    margin: 0 auto 10px auto;
    border-radius: 3px;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .04);
    color: #333333;
    background-color: #ffffff;
}

.item h1 {
    font-family: "Merriweather Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: bold; 
    font-size: 26px;
    font-style: normal;
    line-height: 1.32; 
    letter-spacing: -0.052em;
    margin: 0 0 8px -1.9375px;
}

.item p {
    font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    line-height: 1.69;
    word-break: break-word;
    word-wrap: break-word;
    margin: 8px 0 0 0;
    letter-spacing: -0.009em;
}

.item p a { 
    background-size: 2px 2px;
    background-position: 0 19px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
}

@media only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:2dppx), only screen and (-webkit-min-device-pixel-ratio:2) {
    .item p a { 
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 25%);
    }
}

.item .date {
    color: rgba(0, 0, 0, 0.44);
    float: right;
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
}

.item .logo { 
    float: left; 
    margin-top: 5px;
    margin-right: 20px; 
}

.item .logo img {
    width: 160px;
    border: 1px solid #000;
}

.item .description {
    margin-top: 0;
    margin-left: 190px; 
}

.item .more {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    vertical-align: baseline;
    margin: 9px 0 5px 0;
}

@media all and (max-width: 767px) {
    .header .portrait {
        width: 80px !important;
        height: 80px !important;
    }
    .header .layout {
        padding-top: 36px;
        padding-bottom: 21.5px;
    }
    .header .toolbar {
        padding-bottom: 21.5px;
    }
    .header .button {
        padding-top: 6.5px;
        padding-bottom: 6.5px;
    }
    .header .tabbar {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 18px;
    }
    .item h1 { 
        font-size: 25px;
        margin-left: -1.75px;
    }
    .item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media all and (max-width: 550px) {
    .hide {
        display: none;
    }
    .item .logo { 
        display: none;
    }
    .item .description {
        margin-left: 0; 
    }
}
