html {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-rendering: optimizeLegibility;
-webkit-text-rendering: optimizeLegibility;
-moz-text-rendering: optimizeLegibility;
-ms-text-rendering: optimizeLegibility;
-o-text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
body { margin: 85px 0 85px 0; }
.post { max-width: 700px !important; margin: 0 auto; box-sizing: border-box; }
.header { margin-bottom: 30px; }
.header .image { display: table-cell; }
.header .image .portrait { border: 0; border-radius: 50%; width: 36px !important; height: 36px !important; vertical-align: middle; }
.header .description { display: table-cell; padding-left: 10px; vertical-align: middle; }
.header .author { color: #1a1a1a; font-size: 14px; line-height: 1.4; text-decoration: none; }
.header .date { display: block; font-size: 12px; line-height: 16px; color: #8f8f8f; }
.post h1 { font-family: "Merriweather Sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-weight: bold; font-size: 36px; line-height: 41px; letter-spacing: -0.06em; margin: 30px 0 10px -2.25px; }
.post h2 { font-family: "Merriweather Sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-weight: bold; font-size: 28px; line-height: 34px; letter-spacing: -0.06em; margin: 30px 0 10px -2.25px; }
.post h3 { font-family: "Merriweather Sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-weight: bold; font-size: 20px; line-height: 34px; letter-spacing: -0.06em; margin: 30px 0 10px -2.25px; }
.post .content { font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif; font-size: 18px; line-height: 1.88; letter-spacing: 0.01em; word-break: break-word; word-wrap: break-word; }
.post .content p { margin: 10px 0 16px 0; }
.post .content a, .post p a:visited, .post p a:link, .post p a:active { color: inherit; text-decoration: none; background-repeat: repeat-x; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #333333 50%); background-position: 0 1.15em; background-size: 2px 2px; }
.post .content code { font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace; font-size: 16px; background-color: #f3f3f3; color: #333333; padding: 4px; border-radius: 3px; }
.post .content pre { font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace; font-size: 16px; line-height: 1.4; background-color: #f3f3f3; color: #333333; padding: 12px; border-radius: 3px; overflow: auto; word-break: normal; word-wrap: normal; margin: 16px 0 16px 0; }
.post .content table { border-collapse: collapse; margin-bottom: 24px; }
.post .content th, td { border: 1px solid #333333; padding: 8px 16px 8px 12px; }
.post .content th { background-color: #333333; color: #ffffff; text-align: left; }
@media all and (max-width: 728px) {
.post { margin-right: 24px; margin-left: 24px; }
.post h1 { font-size: 28px; line-height: 1.3; margin-left: -1.75px; letter-spacing: -0.05em; margin-bottom: 8px; }
.post h2 { font-size: 22px; line-height: 1.3; margin-left: -1.75px; letter-spacing: -0.05em; margin-bottom: 8px; }
.post h3 { font-size: 18px; line-height: 1.3; margin-left: -1.75px; letter-spacing: -0.05em; margin-bottom: 8px; }
.post .content { font-size: 16px; line-height: 1.8; letter-spacing: -0.004em; }
.post .content p { margin: 8px 0 14px 0; }
.post .content code { font-size: 14px; }
}
@media (prefers-color-scheme: dark) {
body { background-color: #1b1b1b; }
.header .author { color: #aaaaaa; }
.header .date { color: #666666; }
.post h1 { color: #dfdfdf; }
.post h2 { color: #dfdfdf; }
.post h3 { color: #dfdfdf; }
.post .content { color: #cccccc; }
.post .content code { background-color: #2d2d2d; color: #cccccc; }
.post .content pre { background-color: #2d2d2d; color: #cccccc; }
.post .content a, .post p a:visited, .post p a:link, .post p a:active { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #8f8f8f 50%); }
.post .content table, th, td { border-color: 1px solid #cccccc; color: #cccccc; }
.post .content th { background-color: #cccccc; color: #1b1b1b; border-color: #1b1b1b; }
}
@media only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:2dppx), only screen and (-webkit-min-device-pixel-ratio:2) {
.post .content a, .post p a:visited, .post p a:link, .post p a:active { background-size: 2px 1px; }
}
